
body {

	font-family: 'Playfair Display', serif; 
	background-color: #00cbff;

}


/* custom cursor style*/

.cursor,
.cursor-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  will-change: transform;
  transition: 0.3s;
  z-index: 99999999;
}

.cursor {
  background: black;

}

.cursor-border {
  padding: 2rem;
  border: 0.1rem solid black;

}
.cursor-border.on-focus {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-color: transparent;
}


/*backButton*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: #ff42ae; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
	font-family: 'Playfair Display', serif; 
}

#myBtn:hover {
  background-color: #ff42ae;
	color: white;/* Add a dark-grey background on hover */
}

/*mainMenu*/
.frame {
	padding: 3rem 5vw;
	text-align: center;
	font-size: 20px;
}

.frame__title {
	font-size: 50px;
	margin: 0 0 1rem;
	color: #ff42ae;
	text-transform: uppercase;

}

.frame__links {
	display: inline;
}



.frame__links a:not(:last-child) {
	margin-right: 1rem;
}
a {
	text-decoration: none;
color: black;
	outline: none;
}

a:hover,
a:focus {
	color: #ff42ae;
}

/*backButton*/
p {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  font-weight: 700;
	height: 10px;
}

p:hover{
	color:#ff42ae;
}

p span {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500;
          perspective: 500;
  -webkit-font-smoothing: antialiased;
}
p span::before,
p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  content: attr(data-text);
}
p span::before {
  z-index: 1;
  color: rgba(0,0,0,0.2);
  -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
          transform: scale(1.1, 1) skew(0deg, 20deg);
}
p span::after {
  z-index: 2;
  color: #00cbff;
  text-shadow: -1px 0 1px #6699ff, 1px 0 1px rgba(0,0,0,0.8);
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
}
p span:hover::before {
  -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
          transform: scale(1.1, 1) skew(0deg, 5deg);
}
p span:hover::after {
  -webkit-transform: rotateY(-10deg);
          transform: rotateY(-10deg);
}
p span + span {
  margin-left: 0.3em;
}
@media (min-width: 20em) {
  p {
    font-size: 1em;
  }
  p span::before,
  p span::after {
    display: block;
  }
}
@media (min-width: 30em) {
  p {
    font-size: 2em;
  }
}
@media (min-width: 40em) {
  p {
    font-size: 3em;
  }
}
@media (min-width: 60em) {
  p {
    font-size: 6em;
  }
}

/*image galllery Overlay*/

* {box-sizing: border-box;}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color:white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
	text-transform: uppercase;
}

@media (max-width: 800px){
	.overlay{
		font-size: 12px;
	}
}


.container:hover .overlay {
  opacity: 1;
}

/*Responsive image galllery*/


#gallery {
	padding-top:80px;
   line-height:0;
   -webkit-column-count:4; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:4;
   column-gap:5px;
}

#gallery img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
	 filter: grayscale(100%);
	 transition: filter 2s;

}


#gallery img:hover {
   filter:none;

}

@media (max-width: 1200px) {
   #gallery {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
   }
}

@media (max-width: 1000px) {
   #gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}

@media (max-width: 800px) {
   #gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;

   }
}

@media (max-width: 400px) {
   #gallery {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;

   }
}
