
html {  font: normal 1em/1.5 "Canela"; color: #fff; text-align: center; height: 100%; }

/* custom cursor style*/
.cursor,
.cursor-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  will-change: transform;
  transition: 0.3s;
  z-index: 99999999;
}

.cursor {
  background: black;
}

.cursor-border {
  padding: 2rem;
  border: 0.1rem solid black;
}

.cursor-border.on-focus {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  border-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color:#1ddcf5;
  font-family: "Canela";
  font: normal 1em/1.5;
}

.bodyx{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color:#131313;
}

.bodyb{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
 background-color:pink;
}

.bodyc{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
 background-color:	#f6bb09;
}

.bodyd{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color:#fca503;
}

.bodye{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color:#fff;
}

.bodyf{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color:red;
}

.bodycall{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #1ddcf5;z-index: 2;
}

.viewera{
  width: 100%;
  height: 100%;
  background-color: ##1ddcf5;z-index: 2;
}

.viewerb{
  width: 100%;
  height: 100%;
  background-color: pink;z-index: 2;
}

.viewerc{
  width: 100%;
  height: 100%;
  background-color:#f6bb09;z-index: 2;
}

.viewerd{
  width: 100%;
  height: 100%;
  background-color:#fca503;z-index: 2;
}

.viewere{
  width: 100%;
  height: 100%;
  background-color:#fff;z-index: 2;
}

.viewerf{
  width: 100%;
  height: 100%;
  background-color:red;z-index: 2;
}

.viewerphone{
  width: 100%;
  height: 100%;
  background-color:yellow;z-index: 2;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

 .title{
  font-family: "Canela";
  color: #ff66cc;
  z-index: 2;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

/*mainMenu*/
.frame {
	padding: 3rem 5vw;
	text-align: center;
	font-size: 20px;
}

.frame__title {
	font-size: 50px;
	margin: 0 0 1rem;
	color: #ff42ae;
	text-transform: uppercase;
}

.frame__links {
	display: inline;
}


.frame__links a:not(:last-child) {
	margin-right: 1rem;
}

a {
	text-decoration: none;
  color: black;
	outline: none;
}

a:hover,
a:focus {
	color: #ff42ae;
}

/*backButton*/
p {
  color: #fff;
  font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 700;
	height: 10px;
}

p:hover{
	color:#ff42ae;
}

p span {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500;
          perspective: 500;
  -webkit-font-smoothing: antialiased;
}

p span::before,
p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  content: attr(data-text);
}

p span::before {
  z-index: 1;
  color: rgba(0,0,0,0.2);
  -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
          transform: scale(1.1, 1) skew(0deg, 20deg);
}

p span::after {
  z-index: 2;
  color: #00cbff;
  text-shadow: -1px 0 1px #6699ff, 1px 0 1px rgba(0,0,0,0.8);
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
}

p span:hover::before {
  -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
          transform: scale(1.1, 1) skew(0deg, 5deg);
}

p span:hover::after {
  -webkit-transform: rotateY(-10deg);
          transform: rotateY(-10deg);
}

p span + span {
  margin-left: 0.3em;
}

@media (min-width: 20em) {
  p {
    font-size: 1em;
  }
  p span::before,
  p span::after {
    display: block;
  }
}

@media (min-width: 30em) {
  p {
    font-size: 2em;
  }
}

@media (min-width: 40em) {
  p {
    font-size: 3em;
  }
}

@media (min-width: 60em) {
  p {
    font-size: 6em;
  }
}

/*arrows*/
.arrowRight
  {color: white;
  z-index: 2;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin-left: -90%;
  margin-top: 20%;
}

.arrowLeft
  {color: white;
  z-index: 2;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  margin-left: 90%;
  margin-top: -10%;
}

 a.arrowRight:hover
 {color: #ff66ff;
  font-size: 60px;
}

a.arrowLeft:hover
 {color: #ff66ff;
 font-size: 60px;
}

h1{
  color:#1ddcf5;
}

h1:hover{
  color:#ff66ff;
}



/*MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMNx,    .l0WMMMMMMM
lllllllllloodxkOKXWMMMMMMMMMMMWXKKKKKXXXXXXNNNNNNNWMMMMMMMMMMKc.       .oKWMMMMM
                ..;lONMMMMMMMMNl..............''',dNMMMMMMMWO,           'xNMMMM
                     'dXMMMMMMMk.                 ,KMMMMMMM0,             .oNMMM
                       'xNMMMMMX:                 .kMMMMMMNc               .oNMM
                        .cXMMMMMx.                .dWMMMMMk.                .dWM
                          ;KMMMMK;                 cNMMMMX:                  'OM
                           ;KMMMWo                 ;XMMMMO.                   cN
                            :XMMM0'                ,KMMMWd                    .O
                             oNMMN:                .OMMMX:                     o
                             .OMMWd.               .kMMM0'                     :
              .,,.            cNMMO.               .xMMMx.                     '
              'OWO;           .OMMK,               .dMMWo                      .
              .xMM0'           oWMNc                dWMX:        .lx,          .
               oWMNl           :NMWo                dWMK,        cNWo
               cNMMx.          ,KMWd.               dWMk.       .xMWd.
               ;XMMO.          '0MMx.         .'.  .dWMx.       '0MWd
               ,KMM0'          .OMMx.        .kNX0kxKMWo        ;XMWl
               '0MMK,          .OMMx.        .OMMMMMMMN:        cNMN:
               '0MMK,          '0MWd.        '0MMMMMMMK,        oWMK,
               ,KMM0,          ,KMWl         ,KMMMMMMMO.       .xMMO.
               ;XMMO.          :NMX:         :NMMMMMMWd        .OMMx.
               cNMMk.          oWM0'         oWMMMMMMNc        ,KMWo
               lWMWo          .kMMx.        .kMMMMMMM0,        cNMNc
              .dMMNc          ,KMNc         ,0MMMMMMMx.        oWMX;
              .kMMK,          lWM0'         lNMMMMMMNc        .kMM0'
              '0MMk.         .kMWd.         ,x0NWMMM0'        ,KMMk.           .
              ;XMWo          :XMX;            ..c0MWd.        cNMWd         .:d0
              lNMX:         .dWMk.              '0MX:         dWMNc    .':oOXWMM
             .dMM0'         ,KMNc               oWMk.        .OMMNo,:lx0NWMMMMMM
             .kMMk.         oWMO.              '0MNc         ,KMMWNNMMMMMMMMMMMM
             ,0MWo         .OMNc               lNMO.         cNMMMMMMMMMMMMMMMMM
             :XMX:         cNMO'              .OMWl         .xMMMMMMMMMMMMMMMMMM
             lWM0'        .kMWo               cNM0,         '0MMMMMMMMMMMMMMMMMM
            .xMMx.        ;XMK,        ';'.  .kMWd.         ;XMMMMMMMMMMMMMMMMMM
            .OMWl         dWWx.       ,KWN0xlxNMX;          oWMMMMMMMMMMMMMMMMMM
            ,KMX:        'OMNc        oWMMMMMMMMk.         .xMMMMMMMMMMMMMWX0koc
            :XM0'        :XM0'       .kMMMMMMMMWo          '0MMMWNXX0Okdl:,..
            lWMk.        dWMx.       ;KMMMMMMMMX;          ;XMMWx,...
           .dWWo        .OMWo        cNMMMMMMMMO.          cNMMN:
           .kMNc        ,KMN:        dWMMMMMMMMx.          oWMMX;
           '0MK;        :NMK,       .kMMMMMMMMWo          .dMMMK,
           ;KMO.        oWM0'       .OMMMMMMMMWo          .xMMMK,
           :NWd.       .xMMO.       '0MMMMMMMMWl          .xMMMK,
           lWX:        .kMMk.       '0MMMMMMMMWo          .dWMMX;
           dWx.        .OMMx.        ,ldxk0XNMMx.          lWMMNc
          .co.         ,KMMx.             ..:KMO.          cNMMWo              .
                       ;XMMx.               .kMK;          ,KMMMd.             .
                       :NMMx.                oWWo          .xMMMx.             '
                       lWMMk.                cNMO'          :XMMx.             :
                       oWMMk.                '0MNl           ;xk;              o
                      .xMMMO'                .xMMK,                           .k
                      .OMMMK,                 cNMWk.                          :X
                      ;KMMMX;                 '0MMWd.                        .xW
                      oWMMMNc                  oWMMNd.                       cNM
                     '0MMMMWd                  ,KMMMWx.                     ,0MM
                    .xWMMMMMk.                 .dWMMMWO,                   'OWMM
                   .xNMMMMMM0,                  ,KMMMMMXo.                'kWMMM
           .....,:dKWMMMMMMMNd''''...............xWMMMMMW0c.             ,OWMMMM
loodxxkkOO00KKXNWWMMMMMMMMMMMWNNNNNNXXXXXXKKKKK00XWMMMMMMMW0o'.        .oXMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXx;.    .c0WMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWWWWXOkKNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM

............................................................................../*
